<h2>OPTIMAL Calculator</h2>
<p>Guideline for management of inpatients with Parkinson's Disease</p>
<mat-grid-list cols="1" rowHeight="300px" class="white-background no-margin" gutterSize="1px">
    <mat-grid-tile>
        <div class="card-content">
            <mat-card class="custom-card">
                <img mat-card-image src="/assets/img/guideline/step1.png" />
                <mat-card-content class="center-content">
                    <mat-card-title>Step 1: Obtain an accurate drug history</mat-card-title>
                    <p>
                        From the patient, carer, GP or Summary Care Record. Include drug names, preparations (eg, controlled release) and usual timing of medication when at home.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="card-content">
            <mat-card class="custom-card">
                <img mat-card-image src="/assets/img/guideline/step2.png" />
                <mat-card-content class="center-content">
                    <mat-card-title>Step 2: Obtain an accurate drug history</mat-card-title>
                    <p>
                        From the patient, carer, GP or Summary Care Record. Include drug names, preparations (eg, controlled release) and usual timing of medication when at home.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>
