.white-background {
    background-color: white;
}

.custom-card {
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%; /* Adjust as needed */
    height: 30%; /* Adjust as needed */
    margin: 10%; /* Magic! */
}

.hoverable-image {
    transition: transform 0.2s;
}

.hoverable-image:hover {
    transform: scale(1.1);
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-content {
    margin-left: 20px;
}

.no-margin {
    margin-top: 0; /* This will remove the margin above the grid list */
}

.mat-grid-list {
    display: flex;
    justify-content: center;
}
